{% extends 'base.html.twig' %}
{% block body %}

<div class="container my-5">
<h2 class="page-header text-center">Create Recipes Here</h2>
<br>
            <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-10 card card-body bg-light mb-4">
        {{form_start(form)}}
        {{form_widget(form)}}
        {{form_end(form)}}
        </div>
    </div>
</div>
{% endblock %}